.App {
  height: 40rem;
  width: 21rem;
  background-color: black;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.Result {
  position: absolute;
  color: white;
  opacity: 0.6;
  font-size: 2.5rem;
  margin-top: 10rem;;
  text-align: right;
}
